<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
	<meta charset="UTF-8"> {% seo %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
	<section class="page-header">
		<h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
		<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
		<a href="tg://socks?server=62.210.73.58&port=123&user=prx&pass=hHQ0nVmI2kI4Gf52OZhULAQI" class="btn">SOCKS5 / Stable</a>
		<a href="tg://proxy?server=62.210.73.58&port=143&secret=9615e2fc5c8c17419a8055ca5b55e9dd" class="btn">MTProto / Modern</a>
	</section>

	<section class="main-content">
		{{ content }}

		<footer class="site-footer">
			<span class="site-footer-owner">
				<a href="https://a-u.me/contact/">Glitch</a>&nbsp;&#596;&nbsp;2018–∞
			</span>
		</footer>
	</section>

</body>

</html>
